@model Basketball.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Venue
            </th>
            <th>
                Amount
            </th>
        </tr>
        @{ int total = 0;
            foreach (var item in Model.Games)
            {
                total = total + Convert.ToInt32(item.CourtFee);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourtFee)
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Total Amount : @Html.DisplayFor(a => total)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
